# Logs
logs
*.log
npm-debug.log*

# Diretório do ambiente Node
node_modules

# Ambiente de produção local
.env

# Arquivos de build
dist
build

# Dependências locais do sistema operacional
.DS_Store

# Arquivos temporários do editor
*.swp
*.swo

# Pastas específicas do sistema operacional
Thumbs.db
